
    <div class='jumbotron'>
      <div class="row" style="padding: 20px;">

      </div>
      <div class='col-12'>
          <ngb-carousel>
              <ng-template ngbSlide>
                  <img src="../assets/imagenes/123.jpg" alt="Delhi Metro">
                  <div class="carousel-caption">
                      <h3 style="color: purple">Delhi Metro</h3>
                  </div>
              </ng-template>
              <ng-template ngbSlide>
                  <img src="../assets/imagenes/1234.jpg" alt="Bangalore Metro">
                  <div class="carousel-caption">
                      <h3 style="color: blue">Bangalore Metro</h3>
                  </div>
              </ng-template>
              <ng-template ngbSlide>
                  <img src="../assets/imagenes/12345.jpg" alt="Channai Metro">
                  <div class="carousel-caption">
                      <h3 style="color: red">Channai Metro</h3>
                  </div>
              </ng-template>
              <ng-template ngbSlide>
                  <img src="../assets/imagenes/123456.jpg" alt="Jaipur Metro">
                  <div class="carousel-caption">
                      <h3 style="color: brown">Jaipur Metro</h3>
                  </div>
              </ng-template>
              <ng-template ngbSlide>
                  <img src="../assets/imagenes/1234567.jpg" alt="Mumbai Metro">
                  <div class="carousel-caption">
                      <h3 style="color: black">Mumbai Metro</h3>
                  </div>
              </ng-template>
          </ngb-carousel>
      </div>

  </div>
