
    <div class='container-fluid'>
      <div class="row" style="padding: 20px;">
          <div class="col-sm-12 btn btn-success">
              Use Bootstrap carousel in Angular 8 Project
          </div>
      </div>
      <div class='col-12'>
          <ngb-carousel>
              <ng-template ngbSlide>
                  <img src="../assets/imagenes/123.jpg" alt="Delhi Metro">
                  <div class="carousel-caption">
                      <h3 style="color: yellow">Delhi Metro</h3>
                  </div>
              </ng-template>
              <ng-template ngbSlide>
                  <img src="../assets/imagenes/indice.png" alt="Bangalore Metro">
                  <div class="carousel-caption">
                      <h3 style="color: yellow">Bangalore Metro</h3>
                  </div>
              </ng-template>
              <ng-template ngbSlide>
                  <img src="../assets/imagenes/m4.jpg" alt="Channai Metro">
                  <div class="carousel-caption">
                      <h3 style="color: yellow">Channai Metro</h3>
                  </div>
              </ng-template>
              <ng-template ngbSlide>
                  <img src="../assets/imagenes/m5.jpg" alt="Jaipur Metro">
                  <div class="carousel-caption">
                      <h3 style="color: yellow">Jaipur Metro</h3>
                  </div>
              </ng-template>
              <ng-template ngbSlide>
                  <img src="../assets/imagenes/m3.jpg" alt="Mumbai Metro">
                  <div class="carousel-caption">
                      <h3 style="color: yellow">Mumbai Metro</h3>
                  </div>
              </ng-template>
          </ngb-carousel>
      </div>

  </div>
